export(
	wpp.explore,
	wpp.indicator,
	wpp.by.country,
	wpp.by.countries,
	wpp.by.year,
	get.wpp.year,
	set.wpp.year
	)
import("wpp2015",  "reshape2", "plyr", "googleVis",  "ggplot2", "DT", "shinyjs")
importFrom(Hmisc, capitalize)
importFrom("utils", "data")


